sourceDir: ~/.chezmoi/dotfiles

diff:
  pager: "delta"

merge:
  command: "nvim"
  args:
    - "-d"
    - {{ printf "%q" "{{ .Destination }}" }}
    - {{ printf "%q" "{{ .Source }}" }}
    - {{ printf "%q" "{{ .Target }}" }}

encryption: "age"
age:
  identity: "~/.age/key.txt.age"
  recipient: "age1t5xh5n7uc8znxucm2t9u24vmz966vecy44zr9s9staceegmd8ftstej56j"
