diff:
  pager: "delta"

merge:
  command: "nvim"
  args:
    - "--clean"
    - "-d"
    - {{ printf "%q" "{{ .Destination }}" }}
    - {{ printf "%q" "{{ .Source }}" }}
    - {{ printf "%q" "{{ .Target }}" }}

encryption: "age"
age:
  identity: "~/.age/key.txt.age"
  recipient: "age1w7dydc4kxcwqv3jwjd0f8ge988aqeqk4hhr88mc8emu3rthpqcpq6hrxmn"
