diff:
  pager: "delta"

merge:
  command: "nvim"
  args:
    - "--clean"
    - "-d"
    - {{ printf "%q" "{{ .Destination }}" }}
    - {{ printf "%q" "{{ .Source }}" }}
    - {{ printf "%q" "{{ .Target }}" }}

encryption: "age"
age:
  identity: "~/.age/key.txt.age"
  recipient: "age1lvf6ynj2gmg52v6ue5sz5th0a89jzv77j8ncrx9vxjzprwwkpcxstyjeq9"
